*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#133950;
    text-align: center;
}
h1{
    color: white;

    
}
h4{
    text-align: right;
    color: #fff;
    text-decoration-style: wavy;
    font-style: italic;
    font-size: small;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    font-size: 8vmin;
    color: #410C0C;
    background-color: #B5B1B1;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #410C0C;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #410C0C;
    color: #fff;
    border-radius: 1rem;
    border: none;

}
#msg{
    color:#fff;
    font-size: 5vmin;

}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}